<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">
	<bean id="binaryNumeralSystem" class="pl.com.tt.di.system.implementation.BinaryNumeralSystem" />
	<bean id="hexadecimalNumeralSystem"
		class="pl.com.tt.di.system.implementation.HexadecimalNumeralSystem" />
	<bean id="longDecimalNumeralSystem"
		class="pl.com.tt.di.system.implementation.LongDecimalNumeralSystem" />
	<bean id="binaryCalculator" class="pl.com.tt.di.implementation.Calculator">
		<constructor-arg ref="binaryNumeralSystem" />
	</bean>
	<bean id="hexadecimalCalculator" class="pl.com.tt.di.implementation.Calculator">
		<constructor-arg ref="hexadecimalNumeralSystem" />
	</bean>
	<bean id="longDecimalCalculator" class="pl.com.tt.di.implementation.Calculator">
		<constructor-arg ref="longDecimalNumeralSystem" />
	</bean>
</beans> 